
// All global va=riables and styles go into this file. 
// =================================================================
// COLORS
// =================================================================
$black: rgb(40, 40, 40);
$red: #f93939;
$yellow: #fbd94b;

// =================================================================
// FONTS
// =================================================================
@import url('https://fonts.googleapis.com/css?family=Roboto');
$font1: "Roboto";


body {
	margin: 0;
	font-family: $font1;

}



