// -------------------------------------------------------------------------------------------

// THIS FILE SHOULD ONLY INCLUDE VARIABLES AND THEIR VALUES 

// The variables will be injected into the beginning of every scss file
// using sass-loader in webpack config

// -------------------------------------------------------------------------------------------

// =================================================================
// COLORS
// =================================================================
$black: rgb(40, 40, 40);
$red: #f93939;
$yellow: #fbd94b;


