.searchBarContainer {
	position: relative;
}

.searchBarIcon {
  position: absolute;
 	left: 12px;
  bottom: 11px;
}

.inputContainer {
	position: relative;
	padding-left: 45px;
}

.searchBar {
	width: 1200px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	height: 75.56px;
	cursor: pointer;
	background: rgb(250, 250, 250);
}