#about.page {
	background: $blue5;

	.content-wrapper {
		padding-top: 30px;
		padding-bottom: 30px;
		max-width: 640px;
		text-align: justify;
		color: $lightgrey;
		margin: auto;

		p {
			font-size: 20px;
		}

		li {
			font-size: 20px;
		}
	}
}